<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Items</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/users.css" />

    <!-- Handlebars -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.8/handlebars.min.js"></script>

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- Add Item -->
    <div class="users-column add-user-col">
      <div class="column-header">Add Item:</div>
      <div>
        <input
          id="name-input"
          type="text"
          class="form-control"
          placeholder="Name"
        />
      </div>
      <div>
        <input
          id="desc-input"
          type="text"
          class="form-control"
          placeholder="Description"
        />
      </div>
      <div>
        <button id="add-item-btn" class="btn btn-success">Add</button>
      </div>
    </div>

    <!-- Display Items -->
    <div class="users-column">
      <div class="column-header">Items:</div>

      <div id="all-items-anchor"></div>
      <script id="all-items-template" type="text/x-handlebars-template">
        {{#each items}}
          <div class="item-display-ele">
            <div class="normal-view">
              <div><b>Name:</b> {{name}}</div>
              <div><b>Description:</b> {{description}}</div>
              <div><b>Created:</b> {{createdFormatted}}</div>
              <button
                type="button"
                class="btn btn-primary edit-item-btn"
                data-item-id="{{id}}"
              >
                Edit
              </button>
              <button
                class="btn btn-danger delete-item-btn"
                data-item-id="{{id}}"
              >
                Delete
              </button>
            </div>

            <div class="edit-view" style="display:none;">
              <div>
                Name:&nbsp;
                <input
                  type="text"
                  class="form-control name-edit-input"
                  value="{{name}}"
                />
              </div>
              <div class="desc-edit">
                Description:&nbsp;
                <input
                  type="text"
                  class="form-control desc-edit-input"
                  value="{{description}}"
                />
              </div>
              <button
                class="btn btn-primary submit-edit-btn"
                data-item-id="{{id}}"
                data-item-created="{{createdAt}}"
              >
                Submit
              </button>
              <button
                class="btn btn-secondary cancel-edit-btn"
                data-item-id="{{id}}"
              >
                Cancel
              </button>
            </div>
          </div>
        {{/each}}
      </script>
    </div>

    <!-- JS -->
    <script src="/scripts/http.js"></script>
    <script src="/scripts/items.js"></script>
  </body>
</html>
